body {
    background-color: #e9ebee;
    font-family: "Arial", "Helvetica", sans-serif;
}

h1 {
    color: red;
    text-align: center;
    font-family: serif;
}

#pai {
    color: blue !important;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-indent: 300px;
    margin: 1px 2px 3px 4px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 3px solid green;
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: red;
}

#bola {
    background-color: red;
    /* border: 5px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* margin: 100px 200px 300px 400px; */
    /* padding: 100px 200px 300px 400px; */
    float: right;
}

#bola2 {
    background-color: green;
    /* border: 5px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* margin: 100px 200px 300px 400px; */
    /* padding: 100px 200px 300px 400px; */
    float: right;
    display: inline;
}

p {
    margin: 1px 2px 3px 4px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}


	
div[id^="bola"] {
    border: 5px solid black;
}